# Build artifacts
*.py[cod]
google_api_python_client.egg-info/
build/
dist/

# Test files
.tox/

# Coverage files
.coverage
coverage.xml
nosetests.xml
samples/analytics/client_secrets.json
samples/analytics/keyfile.json
samples/analytics/fnx-car-dashboard-8ba758ff4a39.json
samples/analytics/client_secrets.json
samples/analytics/analytics.dat
